.detailsDetailsPhotoWindow {
    padding: 0;
    background-color: #837081ed;
    margin-top: 0;
}

.backgroundCommentDetailsWindow {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 12vh;
    right: 3vw;
    background-color: rgba(240, 248, 255, 0);
}


.backgroundDetailsPhotoWindow {
    width: 100vw;
    height: 90%;
    position: fixed;
    top: 11vh;
    right: 1vw;
    background-color: rgba(240, 248, 255, 0);
}

.titleToEnterPhotoDetails {
    margin-bottom: 0;
}